body {
  background-color: violet;
}

img {
  height: 200px;
  width: 200px;
}

#red {
  color: rgb(41, 118, 201);
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}

.color-title {
  font-weight: normal;
}
